@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borderTop {
    @apply border-t-[1px] border-t-zinc-800;
  }
  .borderBottom {
    @apply border-b-[1px] border-b-zinc-800;
  }
  .borderRight {
    @apply border-r-[1px] border-r-zinc-800;
  }
  .borderLeft {
    @apply border-l-[1px] border-l-zinc-800;
  }
  .borderAll {
    @apply border-[1px] border-zinc-800;
  }
  /* ======================== About Me Start ========================== */
  .aboutRightLi {
    @apply text-zinc-400 text-sm font-normal flex justify-between items-center border-b-[1px] border-gray-800 py-2;
  }
  .aboutRightLiSpan {
    @apply bg-designColor text-black uppercase px-4 py-[1px] rounded-md;
  }
  /* ======================== About Me End ============================ */
  .sidenavLi{
    @apply text-textColor border-b-[1px] border-b-zinc-500 py-4 text-sm hover:text-designColor duration-300
  }
}

.firstClr{color: #092657;}
.secClr{color:#1c1b17;}
.hover\:secClr:hover {color: #1c1b17;}
.hover\:firstClr:hover {color: #092657;}
.bg-firstClr {background-color: #092657; }
.bg-secClr {background-color: #1c1b17;}
.group:hover .bg-firstClr{background-color: #092657;}
.group:hover .bg-secClr{background-color: #1c1b17;}
.from-designClr{--tw-gradient-from: #092657;
  --tw-gradient-to: rgb(237 255 32 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
.aboutRightLiSpan{background-color: #092657;color: #fff;}
.aboutRightLi:last-child{border: none;}
.border-firstClr{border-color:#092657;}
.border-secClr{border-color:#1c1b17;}
.mtcuts{margin-top: 50px;}

